<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--声明Student对象
        注入：就是赋值的意思
        di：给属性赋值
        1.set注入（设值注入）：spring调用类的set方法，用set方法实现属性的赋值（80%）。
        2.构造注入，Spring调用类的有参构造方法创建对象，在构造方法中完成赋值。
     -->
<!--        set注入只是调用了类的set方法-->
    <bean id="mySchool" class="com.ywt.ba02.School">
        <property name="name" value="XUPT"/>
        <property name="adress" value="西安市长安区郭杜街道"/>
    </bean>

    <bean id="myStudent" class="com.ywt.ba02.Student">
      <property name="name" value="陈奕迅"/> <!--调用setName（）方法-->
      <property name="age" value="45"/>
      <property name="school" ref="mySchool"/>
    </bean>
</beans>